@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  --main: #002333;
  --mainContrast: #159a9c;
  --mainBg: #205051;
  --mainLight: #deefe7;
  --addContrast: #af4377;
  --linkHover: #7a2e53;
  --boxShadow: rgba(34, 60, 80, 0.2);
}

body {
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  color: var(--main);
  background: #ffffff;
}

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main);
}

a:hover {
  color: var(--linkHover);
}

.container {
  width: 1024px;
  margin: 0 auto;
  max-width: 100%;
}

.btn {
  border: none;
}

.btn:hover {
  border: none;
}

.btn-primary {
  background: var(--mainContrast);
}

.btn-pr:hover {
  background: var(--mainBg);
}

.btn-danger {
  background: var(--addContrast);
}

.btn-danger:hover {
  background: var(--linkHover);
}

.popover-body {
  padding: 4px 10px;
}
